.container
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %img{ :alt=>"pesca", :src=>"../images/inicio/pesca_img.jpg"}
        .caption
          %h3.text-center
            PESCA
    .col-sm-6.col-md-4
      .thumbnail
        %img{ :alt=>"pesca", :src=>"../images/inicio/descubre_img.jpg"}
        .caption
          %h3.text-center
            DESCUBRE
    .col-sm-6.col-md-4
      .thumbnail
        %img{ :alt=>"pesca", :src=>"../images/inicio/bucea_img.jpg"}
        .caption
          %h3.text-center
            BUCEA