
//HEADER SECCION ************************************
.navbar{
  z-index: 100;
  margin-bottom: 0;


}

//FOOTER SECCION ************************************
footer{
  .container{
    background-color: $footer-bgc;
    color: $footer-color;
  }

}



